<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} Seção de Verificação de Aprendizagem{% endblock %} </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

</head>
<body>
    <!--
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Classificação</a>
    </div>
  </nav> -->

  <div class="container mt-4">
    {% block content %}{% endblock %}
  </div>

  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'script.js' %}"></script>
</body>
</html>
